html,
body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_button,
.restart_button {
  height: 25px;
  width: 100px;
  margin: 5px 20px;
}

.status {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

section {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 98px;
  height: 98px;
  border-radius: 20px;
}
